# 构建产物
build/
*.app
*.dmg

# Xcode
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata
.DS_Store
.swp
~.nib
.pbxuser
.perspective
*.perspectivev3
*.mode1v3
*.xcworkspacedata
*.xcuserstate
*xcuserdata*
*.gem
.bundle
.sass-cache
*.cer
*.p12
LinkLiarHelp/.jekyll-cache
LinkLiarHelp/_site
docs/

# Rust
linktools-rs/target/
*.dylib

.claude